.login-page {
    background: url('../img/login.jpg') no-repeat center center fixed;
    height: 100%;
    width: 100%;
    padding: 5% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.login-logo img { width: 70px;}

.content-center {
    margin: 0 auto;
    max-width: 1300px;
}